# beautifulsoup4>=4.12.0
# fastapi==0.135.2
# neo4j==6.1.0
# openai==2.30.0
# pandas==2.0.3
# pydantic==2.12.5
# python-dotenv==1.2.2
# PyYAML==6.0.3
# Requests==2.33.0
# selenium==4.41.0
# streamlit==1.28.0
# uvicorn==0.42.0
# webdriver_manager==4.0.2

#fastapi==0.104.1
uvicorn==0.24.0
pyyaml>=6.0
streamlit==1.28.0
py2neo==2021.2.4
neo4j>=5.14.0
pandas==2.0.3
hanlp==2.1.0
transformers==4.35.0
torch==2.1.0
openai==0.28.0
spacy==3.7.2